<div class="essential essential-record">
  <div class="wrapper">
    {{ range $record_index, $record := .Params.records }}
    <div class="essential-item card fixed block">
      <div class="essential-item-header">
        <span>{{ $record.artist }} - <a href="{{ $record.url_discogs }}">{{ $record.album }}</a> ({{ $record.year }})</span>
      </div>
      <div class="essential-item-content">
        <a data-src='{{ index (index $record.youtube_links 0) "id" }}' href="#" onclick="createModal(this); return false;"><img src="../{{ $record.cover }}" /></a>
      </div>
      <div class="essential-item-footer">
        {{ range $youtube_index, $youtube := $record.youtube_links }}
          <span><a href="{{ $youtube.url }}" title="{{ $record.artist }} - {{ $youtube.name }}">[{{ add $youtube_index 1 }}]</a></span>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ partial "essential/youtube.html" }}

<script>
  function createModal(target) {
    const template = document.getElementById('essential-modal');
    const modal = template.content.firstElementChild.cloneNode(true);

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.remove();
      }
    }

    const iframe = modal.querySelector('iframe');
    iframe.src = "https://www.youtube.com/embed/" + target.dataset.src;

    const modal_node = document.getElementById('modal-node');
    modal_node.appendChild(modal);
  }
</script>