{{ range $index, $record := .Params.records }}
<div class="essential-item card fixed block">
  <div class="essential-item-header">
    <span>{{ $record.artist }} - <a href="{{ $record.url_discogs }}">{{ $record.album }}</a> ({{ $record.year }})</span>
  </div>
  <div class="essential-item-content">
    <img src="../{{ $record.cover }}" />
  </div>
  <div class="essential-item-footer">
    {{ range $youtube_link := $record.youtube_links }}
      <a href="{{ .url }}">{{ .name }}</a>
    {{ end }}
  </div>
</div>
{{ end }}