<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <a class="skip-link" href="#main">Skip to main</a>
    <main id="main">
      <div class="content">
        {{ partial "header.html" . }}
        <section>
          {{ partial "breadcrumbs.html" . }}
          {{ .Content }}
          {{ if (eq .CurrentSection .FirstSection) }}
            <div class="essential">
              <div class="wrapper">
                {{ range .Sections.ByTitle }}
                <div class="essential-item card fixed block">
                  <div class="essential-item-header">
                    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                  </div>
                  <div class="essential-item-content">
                    <a href="{{ .RelPermalink }}"><img src="{{ .Params.image }}" /></a>
                  </div>
                  <div class="essential-item-footer">
                    {{ partial "recursive.html" . }}
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
          {{ else }}
            <div class="essential">
              <div class="wrapper">
                {{ range $regular_page := .RegularPages }}
                <div class="essential-item card fixed block">
                  <div class="essential-item-header">
                    <h2><a href="{{ $regular_page.RelPermalink }}">{{ $regular_page.Title | markdownify }}</a></h2>
                  </div>
                  <div class="essential-item-content">
                    <div class="wrapper-small">
                      {{ range $item_image := .Params.images }}
                        <div class="essential-item-small">
                          <a href="{{ $regular_page.RelPermalink }}"><img src="{{ $item_image }}" /></a>
                        </div>
                      {{ end }}
                    </div>
                  </div>
                  <div class="essential-item-footer">
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </section>
      </div>
    </main>
  </body>
</html>
