<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <a class="skip-link" href="#main">Skip to main</a>
    <main id="main">
      <div class="content">
        {{ partial "header.html" . }}
        <section>
          {{ partial "breadcrumbs.html" . }}
          {{ if eq .Parent.Name "Essential Labels" }}
            <iframe width="100%" height="450" frameborder="0" title="Felt Map" src="https://felt.com/embed/map/Untitled-Map-US9BKA9AzVSqeNB266iKDpOC?loc=51.5073,-0.1276,11.51z"></iframe>
            {{ .Content }}
            {{ partial "essential/labels.html" . }}
          {{ else if eq .Parent.Name "Essential Records" }}
            {{ .Content }}
            {{ partial "essential/records.html" . }}
          {{ end }}
        </section>
      </div>
    </main>
  </body>
</html>
